.jogo {
    background-color: #9BE5E4;
    height: 100vh;
}

.nuvens {
    width: 200px;

    position: absolute;
    top: 30px;
    left: 50%;
}

.cano {
    height: 50px;

    position: absolute;
    bottom: 30px;
    right: 50px;
}

.mario {
    height: 100px;

    position: absolute;
    bottom: 30px;
    left: 50px;
}

.chao {
    position: absolute;
    
    height: 30px;
    bottom: 0px;
    width: 100%;
    background-color: rgb(14, 202, 14);
}